.wikipedia-logo {
  display: block;
  margin: 0 auto 20px;
  width: 250px;
  height: 250px;
  background: url("https://cdn.rawgit.com/ayoisaiah/wikipedia/96eba34b/src/images/wikipedia.png") top center no-repeat;
  background-size: cover;
  margin-bottom: -320px;
}

.main {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #076d8a;
  height: 300px;
  width: 100%;
  margin-top: 340px;
}

.randomArticle {
  font-family: 'Raleway', sans-serif;
  color: #076d8a;
  font-size: 18px;
  position: relative;
  margin-top: 333px;
  margin-bottom: -333px;
  padding-left: 1px;
}

a {
  color: #076d8a;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

h1 {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}


.searchForm-inputContainer {
  padding: 0 10px;
  border-radius: 25px;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}

.resultsContainer {
  float: left;
  position: relative;
  margin-top: 130px;
  margin-left: -140px;
  margin-bottom: 20px;
  overflow:scroll;
  overflow-x:hidden;
  height: 500px;
}

.resultItem-title {
  font-family: 'Cinzel', serif;
  font-weight: 400;
}

.resultItem-snippet {
  padding-bottom: 10px;
  padding-right: 10px;
  font-family: 'Raleway', sans-serif;
}
